* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
}

/* Estilos del HEADER */

.main-header {
    background-color: #EAC926;
    padding: 20px;
}

.barra{
    display: flex;
    border: #222222 solid;
    background: #ffffff;
    position: absolute;
    right: 40%;
    top: 15%;
    align-items: center;
    border: none;
}

.logo {
    width: 200px;}

.hamburger-button {
    background-color: black;
    color: white;
    display: block;
    max-width: 40px;
    padding: 5px 0px;
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}

.copy-header {
    font-weight: 400;
    text-align: center;
}

.main-header-botton-bar{
    display: none;
}

.main-header-botton-bar ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header-botton-bar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
}

@media (min-width: 768px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .copy-header {
        max-width: 350px;
        text-align: right;
    }
    .hamburger-button{
        display: none;
    }
    .main-header-botton-bar{
        display: flex;
        justify-content: space-between;
    }
    .main-header-botton-bar ul{
        display: flex;
    }
    .main-header-botton-bar li {
        margin: 0 8px;
    }
}

/* estilos del main */

.contenedorProductos {
    background-color: gray;
    width: 100%;
}

.banner {
    width: 100%;
}

.flex-container {
    display: flex;
    align-content: space-around;
    padding: 10px;
    justify-content: space-around;
    justify-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.precios {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
}

.flex-container img {
    width: 200px;
}

.item-envio{
    color:#39b54a;
    border: 2px solid #39b54a; 
    border-radius: 50% ;
    background-color: white;
    align-items: flex-end;
    padding: 5px;
    position: absolute;
    right: 15px;
    top: 220px;
}

.iconoEnvio{
    position: relative;
    justify-content: space-around;
    border: black solid;
    padding: 10px;
    
}

/* estilos del FOOTER */

.foot-conteiner {
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.copyrigth {
    text-align: center;
}

